/*
.open-sans-<uniquifier> {
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
"wdth" 100;
}
*/
body {
  animation: bg 15s infinite;
}
@keyframes bg {
  0% {background-color: rgba(0, 37, 255, 0.34);}
  50% {background-color: rgba(0, 128, 255, 0.23);}
  100% {background-color: rgba(0, 37, 255, 0.34);}
}
.title {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text {
  display: flex;
  justify-content: center;
}
.text1 {
  font-weight: 350;

}
.bold {
  font-weight: 500;
  font-size: 24pt;
}
p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}